<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
  </head>
  <body>
    <header>
        <a href="/" class="banner">HungryBear</a>
        <div class="bear"></div>
        <nav>
          <a href="/">Home</a>
          <a href="/about/">About</a>
        </nav>
    </header>
    <section class="container">
      {{ content }}
    </section>
    <footer>&copy; Sergio Haro</footer>
  </body>
</html>
